@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Conso Regular";
  font-weight: 400;
  src: url("/fonts/Conso-Regular.otf");
}

@font-face {
  font-family: "Typewriter";
  font-weight: 400;
  src: url("/fonts/typewriter.ttf");
}

@font-face {
  font-family: "Corona";
  font-weight: 400;
  src: url("/fonts/corona.ttf");
}

@font-face {
  font-family: "MatatakiMincho";
  font-weight: 400;
  src: url("/fonts/MatatakiMincho.otf");
}

@font-face {
  font-family: "Rubik";
  font-weight: 400;
  src: url("/fonts/Rubik.ttf");
}

@font-face {
  font-family: "BDavat";
  font-weight: 400;
  src: url("/fonts/BDavat.ttf");
}

@font-face {
  font-family: "Ruwudu";
  font-weight: 400;
  src: url("/fonts/Ruwudu.ttf");
}

@font-face {
  font-family: "AdonisC";
  font-weight: 400;
  src: url("/fonts/AdonisC.ttf");
}

@font-face {
  font-family: "GenEiLateMinP_v2";
  font-weight: 400;
  src: url("/fonts/GenEiLateMinP_v2.ttf");
}

@font-face {
  font-family: "Noto";
  font-weight: 400;
  src: url("/fonts/Noto.ttf");
}

@font-face {
  font-family: "Zar";
  font-weight: 400;
  src: url("/fonts/Zar.ttf");
}

html {
  background-color: black;
}

html::-webkit-scrollbar {
  width: 0;
  height: 0;
  opacity: 0;
}

html::-webkit-scrollbar-track:active {
  background-color: transparent !important;
  opacity: 0;
}

html::-webkit-scrollbar-thumb:active {
  background-color: transparent !important;
}

div::-webkit-scrollbar {
  width: 0;
  height: 0;
  opacity: 0;
}


div::-webkit-scrollbar-track:active {
  background-color: transparent !important;
  opacity: 0;
}

div::-webkit-scrollbar-thumb:active {
  background-color: transparent !important;
}



textarea::-webkit-scrollbar {
  width: 0;
  height: 0;
  opacity: 0;
}



textarea::-webkit-scrollbar-track:active {
  background-color: transparent !important;
  opacity: 0;
}

textarea::-webkit-scrollbar-thumb:active {
  background-color: transparent !important;
}
