@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Eclipse";
  src: url("/fonts/eclipse.ttf");
}

@font-face {
  font-family: "Conso Regular";
  font-weight: 400;
  src: url("/fonts/Conso-Regular.otf");
}

@font-face {
  font-family: "Typewriter";
  font-weight: 400;
  src: url("/fonts/typewriter.ttf");
}

html {
  background-color: black;
}

html::-webkit-scrollbar {
  width: 0;
  height: 0;
  opacity: 0;
}

html::-webkit-scrollbar-track:active {
  background-color: transparent !important;
  opacity: 0;
}

html::-webkit-scrollbar-thumb:active {
  background-color: transparent !important;
}

div::-webkit-scrollbar {
  width: 0;
  height: 0;
  opacity: 0;
}


div::-webkit-scrollbar-track:active {
  background-color: transparent !important;
  opacity: 0;
}

div::-webkit-scrollbar-thumb:active {
  background-color: transparent !important;
}



textarea::-webkit-scrollbar {
  width: 0;
  height: 0;
  opacity: 0;
}



textarea::-webkit-scrollbar-track:active {
  background-color: transparent !important;
  opacity: 0;
}

textarea::-webkit-scrollbar-thumb:active {
  background-color: transparent !important;
}
